
@{
    ViewData["Title"] = "Index";
}
<main>
    <section class="title">
        <div>
            <img class="w-100" src="https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/event-title-area-img-1.jpg" alt="">
        </div>
        <div class="text">
            <h6>
                Info
            </h6>
            <h2>Event Dates</h2>
        </div>
    </section>
    <section class="events">
        <p>EVENTS</p>
        <h1>Book promotions</h1>
        <span>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur rem odio
            veniam ducimus facilis. Reiciendis, eveniet quos.
            Deleniti iure, culpa iusto commodi consequuntur temporibus quo.
        </span>

        <div class="date d-flex mt-4 align-items-center justify-content-between flex-wr">
            <div class="box col-4 ">
                <p>
                    21.07.2019
                    <span>/</span>
                    LA, CALIFORNIA
                </p>
                <hr>
                <h4>Festival of Books</h4>
                <hr>
                <button>See Tickets</button>
            </div>
            <div class="box col-4">
                <p>
                    25.07.2019
                    <span>/</span>
                    PARIS, FRANCE
                </p>
                <hr>
                <h4>Book Signing</h4>
                <hr>
                <button>See Tickets</button>
            </div>
            <div class="box col-4">
                <p>
                    26.07.2019
                    <span>/</span>
                    WASHINGTON, US
                </p>
                <hr>
                <h4>Book Fair</h4>
                <hr>
                <button>See Tickets</button>
            </div>
        </div>

    </section>

</main>
