@model IEnumerable<BasketVM>


<div class="basket-icon">
            <i class="fa-solid fa-basket-shopping"></i>
            <span class="item-count">@Model.Count()</span>
        </div>


        <div class="basket-content container ">
            <i class="fa-solid fa-x close-div"></i>
            <div class="basket-ul">
                <ul>
            @foreach (BasketVM basketVM in Model)
            {

                            <li>
                                <div class="basket-prod-img">
                                    <img src="/assets/images/product/@basketVM.Image" alt="">
                                </div>
                                <div class="price">
                                    <span>@basketVM.Title</span>
                                    <span><span class="single-price">@basketVM.Price</span>$</span>
                                </div>
                                <div class="delete-icon">
                                    <i class="fa-solid fa-x"></i>
                                </div>

                            </li>
            }


                </ul>

            </div>
            <div class="basket-setting">
                <hr>
                <div class="basket-price">

                    <div class="all">  <span class="setting">Total:</span> <span>@Model.Sum(b=>b.Count*b.Price)$</span></div>

                </div>
                <a href="cart.html"> Go Cart</a>
            </div>
        </div>