@model IEnumerable<Product>
<div class="product-body d-flex flex-wrap  justify-content-start">
    @foreach (Product product in Model)
    {

        <div class="box col-2">
            <div class="img ">
                <a href="single.html">
                    <img src="~/assets/images/product/@product.Image" alt="">
                </a>

            </div>
            <p class="author">@product.Author.FullName</p>
            <p class="name">@product.Title</p>
            <div class="product-price">
                @if (product.DiscountedPrice > 0)
                {
                                        <span class="regular-price ">€@product.Price</span>
                                        <span class="price-sale">€@product.DiscountedPrice</span>
                }
                else
                {
                                            <span class="price-sale">€@product.Price</span>
                }
             </div>
            <div>

                <a class="addToBasket" data-id="@product.Id"><i class="fa-solid fa-bag-shopping" style="color: #000000;"></i></a>
            </div>

        </div>
    }

</div>