@model IEnumerable<Product>
<div class="product-body d-flex flex-wrap  justify-content-start">
    @foreach (Product product in Model)
    {

        <div class="box col-2">
            <div class="img ">
                <a href="single.html">
                    <img src=@product.Image alt="">
                </a>

            </div>
            <p class="author">@product.Author.Name @product.Author.Surname</p>
            <p class="name">@product.Title</p>
            <span>$@product.Price</span>
            <div>

                <button>ADD TO BASKET</button>
            </div>

        </div>
    }

</div>