
@{
    ViewData["Title"] = "Checkout";
}


<div class="breadcrumb-area">
    <div class="container-fluid custom-container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active">Checkout</li>
            </ol>
        </nav>
    </div> 
</div>



<section class="checkout-area pt-10">
    <div class="container-fluid custom-container">
        <div class="row">
            <div class="col-xl-8 col-lg-7">
                <div class="checkout-form">
                   
                </div>
            </div>
            <div class="col-xl-4 col-lg-5">
                <div class="checkout-total-wrapper mt-30">
                    <h4 class="allup-title">Cart Total</h4>
                    <div class="checkout-total mt-30">
                        <h4 class="title">Product  <span>Total</span></h4>
                        @*<ul>
                            @foreach (BasketVM basketVM in Model.BasketVMs)
                            {
                                <li>
                                    <p class="total-value">@basketVM.Title X @basketVM.Count</p>
                                    <p class="total-amount">€@(basketVM.Price * basketVM.Count)</p>
                                </li>
                            }
                        </ul>*@
                        <div class="checkout-total-sub">
                            <p class="total-value">Sub Total</p>
                            <p class="total-amount">€104.00</p>
                        </div>
                        <h4 class="title mt-15">Product  <span>€104.00</span></h4>
                    </div>
                </div>

                <div class="checkout-btn">
                    <button form="orderCheckoutForm" class="main-btn main-btn-2">Place Order</button>
                </div>
            </div>
        </div>
    </div>
</section>
