
@{
    ViewData["Title"] = "Index";
}
<main>
    <section class="title">
        <div>
            <img class="w-100" src="https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/shop-list-title-area-1.jpg" alt="">
        </div>
        <div class="text">
            <h6>
                Products
            </h6>
            <h2>Shop List</h2>
        </div>
    </section>
    <section class="all-prod">
        <div class="head d-flex justify-content-between">

            <p>Results</p>
            <div class="search">
                <input type="text" placeholder="Search...">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </div>
        <div class="products d-flex ">
            <div class="prods d-flex flex-wrap">
                <div class="box col-4">
                    <div class="img">
                        <a href="single.html">

                            <img src="https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/product-1-600x828.jpg" alt="">
                        </a>
                    </div>
                    <p class="author">John Strass</p>
                    <p class="name">Winter Darkest Tragedy</p>
                    <span>$38.00</span>

                </div>
                <div class="box col-4">
                    <div class="img">
                        <a href="">

                            <img src="https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/product-7-600x829.jpg" alt="">
                        </a>
                    </div>
                    <p class="author">John Strass</p>
                    <p class="name">Winter Darkest Tragedy</p>
                    <span>$38.00</span>
                </div>
                <div class="box col-4">
                    <div class="img">
                        <a href="">

                            <img src="https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/product-8-600x829.jpg" alt="">
                        </a>
                    </div>
                    <p class="author">John Strass</p>
                    <p class="name">Winter Darkest Tragedy</p>
                    <span>$38.00</span>
                </div>
                <div class="box col-4">
                    <div class="img">
                        <a href="">

                            <img src="https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/product-2-600x829.jpg" alt="">
                        </a>
                    </div>
                    <p class="author">John Strass</p>
                    <p class="name">Winter Darkest Tragedy</p>
                    <span>$38.00</span>
                </div>
                <div class="box col-4">
                    <div class="img">
                        <a href="">

                            <img src="https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/product-3-600x829.jpg" alt="">
                        </a>
                    </div>
                    <p class="author">John Strass</p>
                    <p class="name">Winter Darkest Tragedy</p>
                    <span>$38.00</span>
                </div>
                <div class="box col-4">
                    <div class="img">
                        <a href="single.html">

                            <img src="https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/product-9-600x829.jpg" alt="">
                        </a>
                    </div>
                    <p class="author">John Strass</p>
                    <p class="name">Winter Darkest Tragedy</p>
                    <span>$38.00</span>
                </div>
            </div>
            <div class="filter">
                <div class="wrapper">
                    <fieldset class="filter-price">

                        <div class="price-field">
                            <input type="range" min="0" max="500" value="0" id="lower">
                            <input type="range" min="0" max="500" value="500" id="upper">
                        </div>
                        <div class="price-wrap">

                            <div class="price-wrap-1">
                                <input id="one">
                                <label for="one">$</label>
                            </div>
                            <div class="price-wrap_line">-</div>
                            <div class="price-wrap-2">
                                <input id="two">
                                <label for="two">$</label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="category">
                    <h3>Category</h3>
                    <hr>
                    <ul>
                        <li>
                            <a href="">
                                Action
                                <span>(13)</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Science
                                <span>(13)</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Fiction
                                <span>(13)</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Best Seller
                                <span>(13)</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Home
                                <span>(13)</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Romans
                                <span>(13)</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Comedy
                                <span>(13)</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="authors">
                    <h3>Authors</h3>
                    <hr>
                    <ul>
                        <li>
                            <a href="">
                                Action
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Science
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Fiction
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Best Seller
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Romans
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Comedy
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </section>
</main>

