
@{
    ViewData["Title"] = "Index";
}

<main>
    <section class="title">
        <div>
            <img class="w-100" src="https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/about-us-title-area-img-1.jpg" alt="">
        </div>
        <div class="text">
            <h6>
                Info
            </h6>
            <h2>About Us</h2>
        </div>
    </section>
    <section class="info">
        <div class="container-custom">
            <div class="row">
                <div class="container-custom flex">
                    <div class="col-3 box">
                        <img src="https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-5-single-image-1.png" alt="">
                        <h4>Bestsellers</h4>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi, ut!</p>
                    </div>
                    <div class="col-3 box">
                        <img src="https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-5-single-image-2.png" alt="">
                        <h4>Readers choice</h4>
                        <p>Except sint occaecat cupidatat non proident, sunt culpa qui officia deserunt.</p>
                    </div>
                    <div class="col-3 box">
                        <img src="https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-5-single-image-3.png" alt="">
                        <h4>Biographical</h4>
                        <p>Except sint occaecat cupidatat non proident, sunt culpa qui officia deserunt.</p>
                    </div>
                    <div class="col-3 box">
                        <img src="https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-5-single-image-4.png" alt="">
                        <h4>Science Fiction</h4>
                        <p>Except sint occaecat cupidatat non proident, sunt culpa qui officia deserunt.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="autobiography">
        <div class="all container-custom">
            <div class="all-bck">
                <img src="https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-rev-2-img-1.jpg" alt="">
                <div class="left">
                    <p>AUTOBIOGRAPHY</p>
                    <h4>Long printing history</h4>
                    <span>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud.
                    </span>
                    <!-- <button>
                        READ MORE
                    </button> -->
                </div>
                <div class="right">
                    <img src="//chapterone.qodeinteractive.com/wp-content/uploads/2019/08/about-us-rev-image-1.jpg" alt="">
                    <img src="https://chapterone.qodeinteractive.com/wp-content/uploads/2019/08/about-us-rev-image-2.jpg" alt="">
                    <img src="https://chapterone.qodeinteractive.com/wp-content/uploads/2019/08/about-us-rev-image-3.png" alt="">
                    <img src="//chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-rev-2-img-5.png" alt="">
                    <img src="//chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-rev-2-img-6.png" alt="">
                </div>
            </div>
        </div>
    </section>
    
</main>
