
.login-register-area {
    padding: 68px 0;
    align-items: center;
  }
  
  .login-register-area .login-form {
    border: 1px solid #d6d1d1;
    padding: 25px;
    box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.1);
  }
  
  .login-register-area .login-title {
    font-size: 20px;
    line-height: 23px;
    font-weight: 700;
    padding-bottom: 20px;
  }
  
  .login-form label {
    display: block;
    font-size: 14px;
    margin-bottom: 12px;
    font-weight: 500;
  }
  
  .login-form input {
    width: 100%;
    border: 1px solid #dee2e6;
    padding: 10px 20px;
    font-size: 14px;
    margin-bottom: 15px;
    outline: none;
  }
  
  .login-form button {
    width: 130px;
    height: 40px;
    font-size: 13px;
    background: #d14031;
    border-color: #d14031;
    color: #ffffff;
    border-radius: 23px;
  }
  
  .login-form button:hover {
    background-color: #505050;
    color: #ffffff;
  }
  
  .login-form .check-box label {
    position: relative;
    padding-left: 30px;
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: baseline;
    margin-left: -20px;
    margin-top: 11px;
  }
  
  .login-form .remme_forgotpass .check-box {
    display: flex;
  }
  
  .login-form .remme_forgotpass .check-box input {
    width: 15px;
    margin-top: 15px;
  }
  
  .login-form .remme_forgotpass {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
  }
  
  .login-form .remme_forgotpass .forgot-password_info {
    margin-left: 147px;
  }
  
  .login-form .remme_forgotpass .forgot-password_info a {
    color: #525252;
  }
  form{
    height: 100%;
  }
  .login-form{
    height: 100%;
  }
  .line{
    height: 100%;
    padding: 17%;
    width: 30px!important;
    background-color: #d14031;
  }
  .login{
    margin-top: 41px;
  }